extends base

block content
  // ====== Post Details Start ======
  section.post-details-area
    .container.container-1000
      .post-details
        .entry-header
          h2.title= post.title
          ul.post-meta
            li= new Date(post.createdAt).toLocaleString('en-US', { month: 'long', year: 'numeric', day: 'numeric', weekday: 'short' })
            li
              a(href='#')= post.category.name
          p.short-desc= post.body.split('\n')[0]
        .entry-media.text-center
          img(src='/img/post-details/01.jpg' alt='image')
        .entry-content
          - const paragraphs = post.body.split('\n') 
          - for (let i = 0; i < paragraphs.length; i++)
            - if(paragraphs[i] === paragraphs[0])
              p.has-dropcap= paragraphs[i]
            - else
              p= paragraphs[i]
        .entry-footer
          .post-tags
            span Tag:
            each tag in post.tags
              a(href='#')= tag.name
          .social-share
            span Share:
            a(href='#')
              i.fab.fa-instagram
            a(href='#')
              i.fas.fa-heart
            a(href='#')
              i.fab.fa-facebook-f
            a(href='#')
              i.fab.fa-twitter
          .post-author
            .author-img
              img(src='/img/post-details/post-author.png' alt=`${post.author}`)
            h5
              a(href='#')= post.author
            p Article Writer, Senior Designer, Wordpress Developer Father of 2 Daughters
        .post-nav
          .prev-post
            a(href=`#`)
              i.far.fa-angle-left
            span.title Previous Post
          .next-post
            span.title Next Post
            a(href=`#`)
              i.far.fa-angle-right
        .related-posts
          h4.related-title Related Posts
          .related-loop.row.justify-content-center
            each item in relatedPosts
              .col-lg-6.col-md-6.col-sm-10
                .related-post-box
                  .thumb
                    img(src='/img/post-details/related-01.jpg' alt='image')
                  h5.title
                    a(href=`${item.slug}`)= item.title
            //- .col-lg-6.col-md-6.col-sm-10
            //-   .related-post-box
            //-     .thumb
            //-       img(src='/img/post-details/related-02.jpg' alt='image')
            //-     h5.title
            //-       a(href='#')
            //-         | The Olivier da Costa restaurant experience in Lisbon
      .comment-template
        - const numComments = post.comments.length
        h4.template-title= `${numComments} Comments`
        ul.comment-list
          each comment in post.comments
            li
              .comment-body
                .comment-author
                  img(src='/img/post-details/comment-01.jpg' alt='image')
                .comment-content
                  h6.comment-author= `${comment.userId.name}`
                  p= `${comment.comment}`
                  .comment-footer
                    span.date= new Date(comment.userId.createdAt).toLocaleString('en-GB', { month: 'long', year: 'numeric', day: 'numeric', weekday: 'short' })
                    a.reply-link(href='#') Reply
          //-   li
          //-     .comment-body
          //-       .comment-author
          //-         img(src='/img/post-details/comment-02.jpg' alt='image')
          //-       .comment-content
          //-         h6.comment-author Andro Smith Doe
          //-         p
          //-           | Coding is used in almost all aspects of life and work now, be it directly or
          //-           | indirectly. It&rsquo;s not just for companies in the tech sector. &ldquo;An increasing number of
          //-           | businesses rely on computer code,
          //-         .comment-footer
          //-           span.date  10:35pm, 27 jan 2015.
          //-           a.reply-link(href='#') Reply
          //- h4.template-title Leave your comment
        .comment-form
          form(action='#')
            .row
              .col-sm-6
                input(type='text' placeholder='Enter your name')
              .col-sm-6
                input(type='email' placeholder='Your Email')
              .col-12
                textarea(placeholder='Your message here')
              .col-12
                button(type='submit')
                  | Post 
                  i.far.fa-arrow-right
  // ====== Post Details End ======
