<div class="row g-5">
  <!-- main post body  -->
  <div class="col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pb-4 mb-4 border-bottom">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Post</li>
      </ol>
    </nav>
    <!-- <h3 class="pb-4 mb-4 fst-italic border-bottom">
      From the Firehose
    </h3> -->

    <article class="blog-post">
      <h2 class="blog-post-title"><%= post.title %></h2>
      <p class="blog-post-meta"><%= post.createdAt.toLocaleString('en-US', {month: 'long', day: 'numeric', year: 'numeric' }) %>  <a href="/user/author/name"><%= post.author %> </a></p>

      <p><%- post.body %> </p>
      <hr>      
    </article>

    

    <!-- <article class="blog-post">
      <h2 class="blog-post-title">New feature</h2>
      <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
      <ul>
        <li>First list item</li>
        <li>Second list item with a longer description</li>
        <li>Third list item to close it out</li>
      </ul>
      <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
    </article> -->

    <nav class="blog-pagination" aria-label="Pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled">Newer</a>
    </nav>

  </div>

  <!-- sidebar  -->
  <div class="col-md-3">
    <%- include('partials/_sidebar', {categories}) %> 
  </div>
</div>